<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">



<div layout:fragment="content">

    <!-- wide banner Begin -->
    <section class="normal-breadcrumb set-bg" th:data-setbg="@{/img/widebanner.png}">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>
    <!-- wide banner End -->

    <!-- Login -->
    <div class="wrapper">

        <section class="signup spad">
            <div class="container">
                <div class="row d-flex justify-content-center">
                        <div class="login__form">
                            <h3>Login</h3>
                            <form role="form" method="post" action="/members/login">
                                <div class="input__item">
                                    <input type="email" name="email" placeholder="이메일을 입력해주세요">
                                    <span class="icon_mail"></span>
                                </div>
                                <div class="input__item">
                                    <input type="password" name="password" placeholder="비밀번호 입력">
                                    <span class="icon_lock"></span>
                                </div>
                                <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                                <button type="submit" class="btn btn-orange">Login</button>
                                <button type="button" class="btn btn-white" onClick="location.href='/members/new'">Join</button>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            </form>
                        </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Login 끝 -->

</div>

</html>