<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div class="wrapper">

        <!-- 작품 시작 -->
        <section class="product spad">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4 th:text="${category}">Category</h4>
                                </div>
                            </div>
                        </div>

                        <!-- 카테고리 상품 -->
                        <div class="row main__item">
                            <th:block th:each="item : ${items}">
                                <div class="col-md-3 margin">
                                    <div class="card">
                                        <a th:href="'/item/' +${item.id}" class="text-dark">
                                            <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}">
                                            <div class="card-body">
                                                <h4 class="card-title">[[${item.itemNm}]]</h4>
                                                <p class="card-text text-muted">[[${item.itemNmEng}]]</p>

                                                <p class="card-text">[[${item.itemDetail}]]</p>
                                                <h5 class="card-title blue">[[${item.price}]]원</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 페이징 -->
            <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
                <ul class="pagination justify-content-center">

                    <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                        <a th:href="@{'/' + '?category=' + ${category} + '&page=' + ${items.number-1}}" aria-label='Prev' class="page-link">
                            <span aria-hidden='true'>Prev</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                        <a th:href="@{'/' +'?category=' + ${category} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                        <a th:href="@{'/' +'?category=' + ${category} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>
                </ul>
            </div>

        </section>
    </div>
</div>

</html>