<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div class="wrapper">

        <!-- 작품 시작 -->
        <section class="product spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="trending__product">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="section-title">
                                        <h4>Watch Now</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/poster/poster1.jpg">
                                            <div class="ep"><i class="fa fa-heart"></i> 233</div>
                                        </div>
                                        <div class="product__item__text">
                                            <h5><a href="/content/detail/1"> 레바툰 </a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/poster/poster2.jpg">
                                            <div class="ep"><i class="fa fa-heart"></i> 233</div>
                                        </div>
                                        <div class="product__item__text">
                                            <h5><a href="/content/detail/2"> 야화첩 </a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/poster/poster3.jpg">
                                            <div class="ep"><i class="fa fa-heart"></i> 233</div>
                                        </div>
                                        <div class="product__item__text">
                                            <h5><a href="/content/detail/3"> 지젤 씨의 피 </a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/poster/poster4.jpg">
                                            <div class="ep"><i class="fa fa-heart"></i> 233</div>
                                        </div>
                                        <div class="product__item__text">
                                            <h5><a href="/content/detail/4"> 리미티드 런 </a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/poster/poster5.jpg">
                                            <div class="ep"><i class="fa fa-heart"></i> 233</div>
                                        </div>
                                        <div class="product__item__text">
                                            <h5><a href="/content/detail/5"> 광안 </a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/poster/poster6.jpg">
                                            <div class="ep"><i class="fa fa-heart"></i> 233</div>
                                        </div>
                                        <div class="product__item__text">
                                            <h5><a href="/content/detail/6"> 러브 오어 헤이트 </a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</html>